{% extends 'base/layout.html' %}
{% load helpers %}
{% load form_helpers %}
{% load render_table from django_tables2 %}

{% block title %}Search{% endblock %}

{% block tabs %}
  <ul class="nav nav-tabs px-3">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" type="button" role="tab">
        Results
      </button>
    </li>
  </ul>
{% endblock tabs %}

{% block content-wrapper %}
  <div class="tab-content">
    {% if request.GET.q %}
        {% if results %}
            <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body table-responsive">
                      <table class="table table-hover">
                        <tr>
                          <th>Type</th>
                          <th>Object</th>
                          <th>Field</th>
                          <th>Value</th>
                        </tr>
                        {% for result in results %}
                          <tr>
                            <td>{{ result.object|content_type }}</td>
                            <td>
                              <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                            </td>
                            <td>{{ result.field|placeholder }}</td>
                            <td>{{ result.value|placeholder }}</td>
                          </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
            </div>
        {% else %}
            <h3 class="text-muted text-center">No results found</h3>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col col-12 col-lg-6 offset-lg-3">
                <form action="{% url 'search' %}" method="get" class="form form-horizontal">
                    <div class="card">
                        <h5 class="card-header">
                            Search
                        </h5>
                        <div class="card-body">
                            {% render_form form %}
                        </div>
                        <div class="card-footer text-end">
                            <button type="submit" class="btn btn-primary">
                                <span class="mdi mdi-magnify" aria-hidden="true"></span> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
  </div>
{% endblock content-wrapper %}
